@import url(../fonts/fonts.css);
* {
  margin: 0px;
  padding: 0px;
}

.header-main {
  background: url(../img/Background.png);
  width: 1440px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.header-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-main-dreamshare {
  display: block;
  color: #fefefe;
  width: 51%;
  margin-left: 250px;
  margin-top: 45px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header-main-login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 21px;
  height: 36px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
}

.header-main-login-menu-signup {
  width: 90px;
  margin-left: 5px;
  border: 2px solid #fefefe;
  border-radius: 40px;
  background-color: transparent;
  border-color: #fefefe;
  color: #fefefe;
  font-family: 'Montserrat';
  cursor: pointer;
}

.header-main-login-menu-login {
  margin-top: 10px;
  cursor: pointer;
}

.header-text1, .header-text2 {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #fefefe;
}

.header-text1 {
  margin-top: 148px;
}

.header-text3 {
  margin-top: 28px;
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
  color: #fefefe;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}

.header-text4 {
  margin: 0 auto;
  margin-top: 33px;
  width: 225px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 40px;
  border: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 22px;
  color: #fefefe;
  cursor: pointer;
}

.content-block1 {
  margin: 0 auto;
  width: 940px;
  margin-top: 88px;
}

.content-block1-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-block1-pictures {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-block2-title {
  margin-top: 90px;
}

.content-block2 {
  margin: 0 auto;
  margin-top: 35px;
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-block2-face1 {
  margin: 0 auto;
  width: 221px;
}

.content-block2-face2 {
  width: 221px;
}

.content-block2-allfaces {
  display: block;
  margin: 0 auto;
}

.content-block2-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #444444;
  margin-top: 17px;
}

.content-block2-about {
  text-align: center;
  color: #666666;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
}

.content-block2-button {
  margin: 0 auto;
  width: 180px;
  height: 40px;
  background-color: transparent;
  color: #FF4E50;
  border: 2px solid #FF4E50;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-radius: 40px;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 11px 21px;
  cursor: pointer;
}

.content3 {
  margin: 0 auto;
  margin-top: 35px;
  width: 940px;
}

.content3-block1, .content3-block2, .content3-block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content3-block2, .content3-block3 {
  margin-top: 20px;
}

.prefooter {
  margin-top: 90px;
}

.prefooter-text {
  color: #666666;
  margin-top: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.prefooter-search {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.prefooter-search-search {
  width: 299px;
  height: 40px;
  padding-left: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #D4D4D4;
  color: #999999;
}

.prefooter-search-button {
  width: 172px;
  height: 40px;
  background-color: #FF4E50;
  color: #fefefe;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: 0px;
  margin-left: 10px;
  cursor: pointer;
}

#partners {
  margin-left: 124px;
}

.footer-main {
  border-top: 2px solid #FF4E50;
  height: 224px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-main-text1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
  margin-top: 38px;
  margin-left: 320px;
}

.footer-main-li {
  margin-left: 121px;
  list-style: none;
  font-size: 14px;
}

.footer-main-li-itemheader {
  margin-top: 38px;
  margin-bottom: 13px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.footer-main-li-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.footer-main-designedby {
  margin-left: 319px;
  margin-top: 38px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
}

.footer-main-designedby-img {
  margin-top: 6px;
  margin-left: -30px;
  width: 110px;
  height: 24px;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .header-main {
    width: 768px;
  }
  .header-main-dreamshare {
    margin-left: 49px;
  }
  .header-main-login-menu {
    margin-left: 137px;
  }
  .content-block1 {
    width: 748px;
    margin-top: 94px;
  }
  .content-block1-pictures-1 {
    width: 236px;
    height: 400px;
  }
  .content-block1-title {
    font-size: 22px;
    line-height: 27px;
  }
  .content-block2 {
    width: 492px;
  }
  .content-block2-face {
    margin-top: 55px;
  }
  .content-block2-title {
    margin-top: 94px;
  }
  .content-block2-button {
    margin-top: 21px;
  }
  .content3 {
    width: 748px;
  }
  .content3-size1 {
    width: 236px;
    height: 310px;
  }
  .content3-size2 {
    width: 492px;
    height: 310px;
  }
  .footer-main-text1 {
    margin-left: 39px;
  }
  .footer-main-li {
    margin-left: 107px;
  }
  #partners {
    margin-left: 55px;
  }
  .footer-main-designedby {
    margin-left: 150px;
  }
}

@media screen and (max-width: 320px) and (min-width: 1px) {
  .header-main {
    width: 320px;
    height: 540px;
  }
  .header-main-dreamshare {
    position: absolute;
    margin-top: 153px;
    margin-left: 97px;
  }
  .header-main-login-menu {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .header-text1, .header-text2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
  }
  .header-text3 {
    margin: 0 auto;
    margin-top: 6px;
    width: 80%;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
  .header-text4 {
    width: 260px;
    margin-top: 14px;
  }
  .content-block1 {
    width: 100%;
    margin-top: 34px;
  }
  .content-block1-title {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 26px;
  }
  .content-block1-pictures {
    margin: 0 auto;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-block1-pictures-1 {
    width: 300px;
    height: 240px;
    margin-bottom: 10px;
  }
  .content-block2 {
    width: 100%;
    margin-top: 15px;
  }
  .content-block2-allfaces {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-block2-face1 {
    margin-bottom: 16px;
  }
  .content-block2-button {
    margin-top: 3px;
    width: 278px;
    text-align: center;
    padding: 11px 70px;
  }
  .extra-width {
    width: 80%;
    margin-top: 32px;
  }
  .content3 {
    width: 310px;
  }
  .content3-size1 {
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
  }
  .content3-size2 {
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
  }
  .content3-block2, .content3-block3 {
    margin-top: 0px;
  }
  .prefooter {
    margin-top: 25px;
  }
  .prefooter-text {
    margin-top: 19px;
  }
  .prefooter-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
  .prefooter-search-search {
    margin: 0 auto;
    width: 280px;
  }
  .prefooter-search-button {
    margin: 0 auto;
    margin-top: 10px;
    width: 280px;
  }
  .footer-main {
    margin-top: 39px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-main-li {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 13px;
  }
  .footer-main-li-itemheader {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .footer-main-text1 {
    margin: 0 auto;
    margin-top: 19px;
  }
  .footer-main-designedby {
    margin: 0 auto;
    margin-top: 8px;
  }
  .footer-main-designedby-img {
    margin-left: 0px;
  }
  #partners {
    margin-left: 0px;
    margin-top: 4px;
  }
  .DBtext {
    margin-left: 16px;
  }
}
/*# sourceMappingURL=main.css.map */